RewriteEngine on
#RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f #request bir file değil
RewriteCond %{REQUEST_FILENAME} !-d #request bir dir değil
RewriteRule ^(.*)$ index.php/$1 [L]    #[L,QSA]